
 

.headerone{ 
  display: grid;

  justify-items: center;
  text-align: center;

  margin: 120px 183px 163px 163px;

   img{ 
    padding: 56px;
  }

  p{ 
    padding: 8px;
    color: var(--gray-300)
  };
  h1{ 
    color: var(--gray-100);
  }
}
 




.mainone{ 
  div:nth-child(1){ 
    display:flex; 
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--gray-100);
      
  
    
    
  }

  

 

 
}


.one-teg{ 
  

  /* Tag */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 120px;
height: 40px;

/* Base/gray-400 */
background: #292C34;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}



/* Segunda Pagina */ 

.twoheader{

  
text-align: center;

margin-top: 255px;


}

.trabalho{ 
  color: var(--red);
  font: var(--Title-sm);
}

.destaque{ 
  color: var(--gray-100);
  font: var(--Title-md);
}




#maintwo{
  margin-top: 56px; 
  display: grid;
 justify-content:center;
  grid-template-areas: 
  "A B C"
  "D E F"
  ;

 gap: 20px;

   h3{ 
    font: var(--Title-sm);
    color:var(--gray-100);
    margin-bottom: 8px;
    margin-left: 12px;
    
  }

  p{
    color: var(--gray-200);
    margin-left: 12px;
    
  };

}


#A{ 
 
  grid-area: A;
  height: 280px;
  width: 330px;
  background-color: var(--gray-400) ;
  border-radius: 12px ;

  
}

#B{ 
    grid-area: B;
  height: 280px;
  width: 330px;
  background-color: var(--gray-400) ;
  border-radius: 12px ;

}

#C{ 
    grid-area: C;
  height: 280px;
  width: 330px;
  background-color: var(--gray-400) ;
  border-radius: 12px ;
}


#D{ 
    grid-area: D;
  height: 280px;
  width: 330px;
  background-color: var(--gray-400) ;
  border-radius: 12px ;
}

#E{ 
    grid-area: E;
  height: 280px;
  width: 330px;
  background-color: var(--gray-400) ;
  border-radius: 12px ;
}

#F{ 
    grid-area: F;
  height: 280px;
  width: 330px;
  background-color: var(--gray-400) ;
  border-radius: 12px ;
}


.projetos{ 
  img{ 
    width: 306px;
    height: 156px;
    border-radius: 8px;
  
    margin: 12px 12px 20px 12px;
  }

 
}



/* terceira pagina */ 


.thereheader{

  
text-align: center;

margin-top: 232px;


}

.servico{ 
  color: var(--red);
  font: var(--Title-sm);
}

.negocio{ 
  color: var(--gray-100);
  font: var(--Title-md);
}


#theremain{ 

 margin-top: 56px; 
display: grid;
justify-content:center;
  grid-template-areas: 
  "A B C" ;
gap: 24px;


img{ 
  margin-left: 15px;
  margin-top: 15px;
}

 h3{ 
    font: var(--Title-sm);
    color:var(--gray-100);
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 20px;
    
  }

  p{
    color: var(--gray-200);
    margin-left: 20px;
    
  };

}


#um{ 
  border: solid var(--gray-400);
  width: 280px;
  height: 155px;
  justify-content: center;
  border-radius: 12px;
}

#dois{ 
  border: solid var(--gray-400);
  width: 280px;
  height: 155px;
  justify-content: center;
   border-radius: 12px;
}

#tres{ 
  border: solid var(--gray-400);
  width: 280px;
  height: 155px;
  justify-content: center;
   border-radius: 12px;
  
}



/* quarta pagina */ 


.fourheasder{ 
  margin-top: 250px;
  text-align: center;
  
}

#contato{ 
  color: purple;
  font-family: var(--font-one);
  margin-bottom: 8px;

}

#gostou{ 
   font: var(--Title-md);
    color:var(--gray-100);
    margin-bottom: 8px;
    
}

#redes{ 
font: var(--Title-sm);

color: var(--gray-200) ;
margin-bottom: 48px;
}



#mainfour{ 
width: 400px;
height: 320px;
display: flex;
flex-direction: column;
gap:16px ;


}

#Teg-redes{ 
display: flex;
  background-color: var(--gray-400);
  width: 400px;
  height: 68px;


 margin-left: 585px;
 border-radius:8px ;

 p{ 
  margin-top: 23px;
  margin-left: 3px;

 }

 img{
  align-items: center;
  margin-left: 20px
  
 };

 
}

















