*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{ 
/* Principal */

--red: #E3646E ; 
--purble: #BB72E9;
--blue: #3996DB; 
--green: #82BC4F; 
--yellow: #EABD5F;

/* Base */


--gray-100: #E2E4E9; 
--gray-200: #C0C4CE;
--gray-300: #878EA1; 
--gray-400: #292C34; 
--gray-500: #16181D; 
--gray-600: #0D0E11; 



--font-one: "Asap", sans-serif;
--Title-lg:bold 56px/120% var(--font-one);
--Title-md:bold 24px/120% var(--font-one);
--Title-sm:bold 16px/120% var(--font-one);


}



body{ 
 font-family: var(--font-one);
 background-image: url(../assets//Background_Intro.png);
  background-size: cover;
}


