#one{ 
  background-image: url(../assets/Background_Contacts.png);
  background-size: cover;

.container{ 
  display: grid;

  justify-items: center;
  text-align: center;

  margin: 120px 183px 163px 163px;

   img{ 
    padding: 56px;
  }

  p{ 
    padding: 8px;
    color: var(--gray-300)
  };
  h1{ 
    color: var(--gray-100);
  }
}
 

}


#one main{ 
  div:nth-child(1){ 
    display:flex; 

    align-items: center;
    gap: 8px;
    color: var(--gray-100);
      
  
    
    
  }

 

 
}




